@import '../../../../../Styles/Common.scss';


.reservation_body {
  width: 100%;
  background-color: white;

  .reservation_text {
    width: 100%;
    height: 86px;
    padding: 19px 20px 17px;

    p {
      text-align: center;
      line-height: 25px;
      font-size: 1.6rem;
    }
  }

  .reservation_list {
    li {
      width: 100%;
      height: auto;       //<<<<<< 이부분 기능구현시 점검

      .flex_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
        margin: 0 20px 0 20px;
        padding: 22px 0 22px 0;
        border-top: 1px solid #ccc;

        label {
            position: relative;
            display: flex;
            align-items: center;
            width: 156px;
            padding: 0 0 0 35px;
            font-size: 1.6rem;
            font-weight: bold;
            color: #656565;
            line-height: 21px;
            word-break: break-all;
            cursor: pointer;

          input {
            position: absolute;
            left: 0;
            margin: 0 15px 0 0;
            width: 23px;
            height: 23px;
            cursor: pointer;
            background-size: 684px 663px;
            background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
            background-position: -565px -278px;
          }

        }
        .list_subject {
          p {
            width: 120px;
            font-size: 1.8rem;
            font-weight: 600;
            text-align: end;
            color: #656565;
          }
        }
      }

      .reservation_detail {
        width: 100%;
        height: auto;
        padding: 15px 20px 30px 20px;
        border: 1px solid #6d3afb;
        background-color: white;
  
        img {
          width: 100%;
          height: 180px;
        }
  
        p {
          width: 100%;
          padding: 20px 0 20px 0;
          font-size: 1.4rem;
        }
  
        ul {
          width: 100%;
          border-bottom: 1px solid #ebebeb;
  
          li {
            height: 41px;
            padding: 12px 0 11px 0;
            border-top: 1px solid #ebebeb;
            font-size: 1.4rem;
  
            .room_style {
              margin: 0 18px 0 0;
              color: #656565;
            }
          }
        }
  
        .facility_wrap {
          width: 100%;
          border: none;
  
          .facility_list {
            border: none;
  
            li {
              position: relative;
              display: inline-block;
              width: 93px;
              height: 36px;
              margin: 24px 0 0 0;
              padding: 0 5px 0 45px;
              border: none;
  
              .chair {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -380px;
              }
  
              .pet {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -478px -507px;
              }
  
              .fitting {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -114px -586px;
              }
  
              .mirror {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -76px -548px;
              }
  
              .food {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -76px -586px;
              }
  
              .parking {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -516px -507px;
              }
  
              .lounge {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -532px -548px;
              }
  
              .wifi {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -342px -548px;
              }

              .alcohol {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -456px;
              }

              .mic {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -114px -548px;
              }

              .toilet {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -114px;
              }

              .no_smoking {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -38px -548px;
              }

              .tv {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px 0;
              }

              .BBQ {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -38px;
              }

              .terrace {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -342px;
              }

              .pc {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -228px;
              }

              .shower {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -190px -548px;
              }

              .whiteboard {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -152px -548px;
              }

              .cooking {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -494px -548px;
              }

              .copy {
                position: absolute;
                left: 0;
                top: 50%;
                width: 34px;
                height: 34px;
                margin: -17px 0 0 0;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -599px -304px;
              }


              span {
                display: inline-block;
                width: 43px;
                height: 36px;
                padding: 7px 0 12px 0;
                font-size: 1.2rem;
                font-weight: 300;
                color: #656565;
              }
            }
          }
        }
  
        .reservation_total {
          width: 100%;
          height: 168px;
          padding: 32px 0 0 0;
          // border-top: 1px solid #ebebeb;
  
          .total_text {
            width: 100%;
            height: 58px;
            padding: 2px 0 20px 0;
            border-bottom: 3px solid #6d3afb;
  
            h3 {
              font-size: 1.6rem;
            }
  
            span {
              font-size: 1.5rem;
            }
          }
  
          .total_sum {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            margin: 30px 0 0 0;
            padding: 0 50px 0 50px;
            border: 1px solid #e0e0e0;
  
            .click_minus {
              position: absolute;
              left: 0;
              width: 48px;
              height: 48px;
              border-right: 1px solid #ebebeb;
              font-size: 50px;
              text-align: center;
  
              .minus {
                display: block;
                width: 100%;
                height: 100%;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -112px -451px;
              }
            }
  
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 194px;
              height: 50px;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 400px;
  
              input {
                display: block;
                font-size: 1.9rem;
                text-align: center;
                padding: 0;
                margin: 0;
                border: 0;
              }
            }
  
            .click_plus {
              position: absolute;
              right: 0;
              width: 48px;
              height: 48px;
              border-left: 1px solid #ebebeb;
  
              .plus {
                display: block;
                width: 100%;
                height: 100%;
                background-size: 684px 663px;
                background-image: url(https://www.spacecloud.kr/_nuxt/img/08341ee.png);
                background-position: -216px -451px;
              }
            }
          }
        }
      }
  

      
    }
  }

}