  .main_category{
      .main_category_wrap1{
        display: flex;
        flex-direction: column;
        align-items :center;
        justify-content: center;
        background-color: #f6f6f6;
        padding:20px;
        
        span{
          display: flex;
          margin-top: 30px;
          font-size : 25px;
          font-weight: 550;
          letter-spacing: -.5px;
        }

          ul{
            display: flex;
            margin-top:20px;
            width:900px;
            height: 150px;
            border : 1px solid #ebebeb;
            background-color: white;
          }
        }
      .main_category_wrap2{
        display: flex;
        flex-direction: column;
        align-items :center;
        justify-content: center;
        background-color: #f6f6f6;
        padding:20px;
        
        span{
          margin-top: 60px;
          display: flex;
          font-size : 25px;
          font-weight: 550;
          letter-spacing: -.5px;
        }

          ul{
            display: flex;
            margin:20px 0 40px 0;
            width:900px;
            height: 250px;
            border : 1px solid #ebebeb;
            background-color: white;
          }
    }
  }
  .main_review{
    .main_review_wrap{
      display: flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px 90px 20px;

    h2{
      margin-top: 25px;
      font-size : 25px;
      font-weight: 550;
      letter-spacing: -.5px;
    }

    h3{
      margin-top: 7px;
      font-weight: lighter;
      font-size: 13px;
    }

    .main_border{
      display: flex;
      margin:20px 0 40px 0;
      width:900px;
      height: 250px;
      border : 1px solid #ebebeb;
      background-color: white;
    }

    button{
      border: 2px solid #f6f6f6;
      width:900px;
      height: 50px;
      font-size:15px;
      }
    }
  }
