  .slide{
    margin-top: 78px;
  }
  .main_category{
    background-color: #f6f6f6;
    
      .main_category_wrap1{
        display: flex;
        flex-direction: column;
        align-items :center;
        justify-content: center;
        padding:20px;
        }
  }

  .main_review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 400px;

    span{
      height: auto;
      margin-top: 50px;
      font-size : 3.5rem;
      font-weight: 550;
      letter-spacing: -.5px;
    }
  }
