@import '../../../../Styles/Common.scss';

.left {
  width: 763px;

  .left_list {
    width: 100%;

    .list_click {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;

      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 151px;
        height: 50px;
        padding: 11px 15px;
        border-bottom: 1px solid #6d3afb;
        background-color: white;

        a {
          width: 97px;
          height: 18px;
          right: -20px;
          color: #656565;
          font-size: 1.6rem;
          text-align: center;
          background-color: white;

          &:after {
            position: absolute;
            width: 0.7px;
            height: 20px;
            top: 15px;
            right: 0;
            background-color: #704de4;
            text-align: center;
            content: '';
          }
        }

        &:last-child a:after {
          display: none;
        }
      }
    }

    .first_box {
      width: 100%;
      margin: 0 0 50px 0;
      padding: 50px 0 0 0;
      border-top: 1px solid #f6f6f6;

      h4 {
        position: relative;
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 30px;

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 20px;
          content: '';
          background-color: #ffd014;
        }
      }

      p {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 28px;
      }

      ul {
        width: 100%;
        margin: 35px 0 0 0;

        .host_hours {
          position: relative;
          width: 100%;
          height: 47px;
          padding: 10px 0 8px 76px;
          border-bottom: 1px solid #ebebeb;

          .host_sub_time {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 28px;
          }

          .host_time {
            font-size: 1.6rem;
            line-height: 28px;
            color: #656565;
          }
        }

        .host_holiday {
          position: relative;
          width: 100%;
          height: 47px;
          padding: 10px 0 8px 76px;

          .host_sub_day {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 28px;
          }

          .host_day {
            font-size: 1.6rem;
            line-height: 28px;
            color: #656565;
          }
        }
      }
    }

    .second_box {
      width: 100%;
      margin: 0 0 50px 0;

      h4 {
        position: relative;
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 30px;

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 20px;
          content: '';
          background-color: #ffd014;
        }
      }

      ul {
        width: 100%;
        margin: 35px 0 0 0;

        li {
          display: flex;
          align-items: center;
          width: 100%;
          height: 48px;
          padding: 10px 0;
          border-bottom: 1px solid #ebebeb;
          
          &:last-child{
            border: none;
          }

          .content_number {
            margin: 0 20px 0 0;
            font-size: 1.6rem;
            font-weight: bold;
          }

          .content_text {
            font-size: 1.6rem;
            font-weight: 300;
            color: #656565;
          }
        }
      }
    }

    .third_box {
      width: 100%;
      height: 627px;
      margin: 0 0 50px 0;
      padding: 20px 0 0 0;

      h4 {
        position: relative;
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 30px;

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 20px;
          content: '';
          background-color: #ffd014;
        }
      }

      p {
        padding: 0 0 10px 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 28px;

        em {
          font: inherit;
          font-weight: 400;
          color: red;
        }
      }

      .third_list {
        width: 100%;

        li {
          position: relative;
          width: 100%;
          height: 47px;
          padding: 10px 0 8px 29px;
          border-bottom: 1px solid #ebebeb;

          .refund_day {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 28px;
            color: #656565;
          }

          .refund_cost {
            margin: 0 0 0 70px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }

    .map_box {
      width: 100%;
      height: 861px;
      margin: 78px 0 0 0;
      border-top: 1px solid #e0e0e0;

      .map_text {
        width: 100%;
        height: 218px;
        padding: 33px 30px 38px 30px;
        background-color: white;

        .map_title {
          height: 26px;
          padding: 0;
          font-size: 2.4rem;
          font-weight: bold;
          background-color: white;
        }

        .map_adress {
          height: 18px;
          margin: 18px 0 0 0;
          padding: 0;
          font-size: 1.6rem;
          line-height: -10px;
          background-color: white;
        }
      }

      .map_view {
        width: 100%;
        // height: 643px;
        border: 1px solid red;
      }
    }

    .review_container {
      width: 100%;

      .review_text {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;

        .text_title {
          display: inline-block;
          width: 70px;
          height: 30px;
          margin: 0px;
          padding: 0px;
          font-size: 1.8rem;
        }

        span {
          height: 19px;
          font-size: 1.8rem;
          color: #6d3afb;
        }

        .dot {
          width: 4px;
          height: 4px;
          margin: 0 7px 0 7px;
          border: 1px solid #656565;
          border-radius: 50%;
          background-color: #656565;
        }
      }

      .review_box {
        width: 100%;
        height: 542px;

        .review_list {
          li {
            position: relative;
            width: 100%;
            height: 143px;
            padding: 24px 0 24px 110px;
            border-bottom: 1 solid #e0e0e0;

            .user_img {
              position: absolute;
              left: 0;
              top: 24px;
              width: 80px;
              height: 80px;
              border: 1px solid black;
              border-radius: 80px;
              border-style: none;
            }

            .user_review {
              position: relative;
              width: 100%;
              height: 110px;

              .user_text {
                height: auto;
                margin: 0;
                padding: 0;

                .user_id {
                  width: auto;
                  height: auto;
                  margin: 3px 0 0 0;
                  padding: 0;
                  font-size: 1.8rem;
                  font-weight: 400;
                }

                .user_comment {
                  width: auto;
                  height: auto;
                  margin: 11px 0 0 0;
                  padding: 0;
                  font-size: 1.6rem;
                  color: #656565;
                }

                span {
                  display: block;
                  height: 20px;
                  margin: 13px 0 0 0;
                  padding: 0;
                  font-size: 1.2rem;
                  color: #b2b2b2;
                }
              }

              .like_box {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                right: 0;
                top: 0;
                width: 100px;
                li {
                  width: 18px;
                  height: 16px;
                  margin: 0 0 0 5px;
                  padding: 0;

                  img {
                    width: 18px;
                    height: 16px;
                    color: #6d3afb;
                  }
                }
              }
            }
          }
        }

        .paging {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 42px;
          margin: 43px 0 0 0;

          .btn_previous {
            width: 42px;
            height: 42px;
            margin: 0 8px 0 0;
            padding: 0;
            border: 1px solid #ebebeb;
            background-color: white;

            button {
              width: 100%;
              height: 100%;
            }
          }
          .btn_next {
            width: 42px;
            height: 42px;
            margin: 0 0 0 8px;
            padding: 0;
            border: 1px solid #ebebeb;
            background-color: white;

            button {
              width: 100%;
              height: 100%;
            }
          }
          a {
            height: 0;
            padding: 10px 7px;
            font-size: 1.5rem;
            color: #656565;
          }
        }
      }
    }
  }
}
