.user_review{
  display: flex;
  
  article{
    display:flex;
    justify-content: center;
    align-items: center;
    width:1020px;
    height: 340px;

    .review_card{
    display:flex;
    flex-direction: column;
    border: 3px solid #f6f6f6;
    padding : 20px;
    margin: 20px;
    width:33.333%;
    height: 300px;
    font-size: 2rem;

      .title{
        margin-top: 10px;
      }

      .price{
        margin-top:15px;
        font-size: 1rem;
      }

      .review{
        padding-top: 150px;
        font-size: 1.2rem;
      }
    }
  }
}