@import '../../Styles/Common.scss';

.Details {
  background-color: $bg-gray;

  .detail_wraper {
    width: 1158px;
    height: 100%;
    margin: 78px auto 0;
    padding: 50 0 100 0;
    display: flex;
    justify-content: space-between;
  }
}
