@import '../../Styles/Common.scss';

.detail_wraper {
  width: 1158px;
  margin: 70px 141px 0; //가로 오토로수정
  padding: 50 0 100 0;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;

  .left_wraper {
    width: 763px;

    .left_space {
      h2 {
        font-size: 42px;
      }

      p {
        margin: 17px 0 0 0;
        padding: 0 0 22px 0;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 22px;
        color: #656565;
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 41px;
        margin-bottom: 39px;

        li {
          height: 29px;
          margin: 6px 6px 6px 0;
          padding: 0 15px;
          text-align: center;
          border-radius: 29px;
          border: 1px solid #e0e0e0;
          background-color: #fff;
          font-size: 14px;
          color: #656565;
          line-height: 29px;
        }
      }

      img {
        width: 100%;
        height: 450px;
      }

      .text_box {
        width: 100%;
        height: 170px;
        margin: 0 0 50px 0;
        border-top: 1px;

        h3 {
          padding: 50px 100px 0 0;
          font-size: 48px;
          font-weight: 300;
        }
      }
    }
  }

  .left_list {
    width: 100%;

    .list_click {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 127px;
        height: 50px;
        padding: 11px 15px;
        border-bottom: 1px solid #6d3afb;
        background-color: white;

        a {
          width: 97px;
          height: 18px;
          right: -20px;
          color: #656565;
          font-size: 1.6rem;
          text-align: center;
          border-right: 1px solid #6d3afb;
          background-color: white;
        }
      }
    }

    .first_box {
      width: 100%;
      margin: 0 0 50px 0;
      padding: 50px 0 0 0;
      border-top: 1px solid #f6f6f6;

      h4 {
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 30px;
      }

      p {
        height: 140px;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 28px;
      }

      ul {
        width: 100%;
        margin: 35px 0 0 0;

        li {
          position: relative;
          width: 100%;
          height: 47px;
          padding: 10px 0 8px 76px;
          border-bottom: 1px solid #ebebeb;

          .host_sub_time {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 28px;
          }

          .host_time {
            font-size: 1.6rem;
            line-height: 28px;
            color: #656565;
          }

          .host_sub_day {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 28px;
          }

          .host_day {
            font-size: 1.6rem;
            line-height: 28px;
            color: #656565;
          }
        }
      }
    }

    .second_box {
      width: 100%;
      margin: 0 0 50px 0;

      h4 {
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 30px;
      }

      ul {
        width: 100%;
        margin: 35px 0 0 0;

        li {
          position: relative;
          width: 100%;
          height: 37px;
          padding: 0 0 8px 29px;
          border-bottom: 1px solid #ebebeb;

          .content_number {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            font-weight: bold;
          }

          .content_text {
            font-size: 1.6rem;
            color: #656565;
          }
        }
      }
    }

    .third_box {
      width: 100%;
      height: 627px;
      margin: 0 0 50px 0;
      padding: 50px 0 0 0;

      h4 {
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 30px;
      }

      p {
        height: 90px;
        padding: 0 0 20px 0;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 28px;

        em {
          font: inherit;
          color: red;
        }
      }

      ul {
        width: 100%;

        li {
          position: relative;
          width: 100%;
          height: 36px;
          padding: 0 0 8px 29px;
          border-bottom: 1px solid #ebebeb;

          .refund_day {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 28px;
            color: #656565;
          }

          .refund_cost {
            margin: 0 0 0 70px;
            font-size: 1.6rem;
            line-height: 28px;
          }
        }
      }
    }

    .map_box {
      width: 100%;
      height: 861px;
      margin: 78px 0 0 0;
      border-top: 1px solid #e0e0e0;

      .map_text {
        width: 100%;
        height: 218px;
        padding: 33px 30px 38px 30px;
        background-color: white;

        .map_title {
          height: 26px;
          padding: 0;
          font-size: 2.4rem;
          font-weight: bold;
          background-color: white;
        }

        .map_adress {
          height: 18px;
          margin: 18px 0 0 0;
          padding: 0;
          font-size: 1.6rem;
          line-height: -10px;
          background-color: white;
        }
      }

      .map_view {
        width: 100%;
        height: 643px;
        border: 1px solid red;
      }
    }

    .review_container {
      width: 100%;

      .review_text {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 46px;
        margin: 70px 0 28px 0;
        padding: 0 0 16px 0;

        .text_title {
          display: inline-block;
          width: 70px;
          height: 30px;
          margin: 0px;
          padding: 0px;
          font-size: 1.8rem;
        }

        span {
          height: 19px;
          font-size: 1.8rem;
          color: #6d3afb;
        }

        .dot {
          width: 4px;
          height: 4px;
          margin: 0 7px 0 7px;
          border: 1px solid #656565;
          border-radius: 50%;
          background-color: #656565;
        }
      }

      .review_box {
        width: 100%;
        height: 542px;

        .review_list {
          li {
            position: relative;
            width: 100%;
            height: 143px;
            padding: 24px 0 24px 110px;
            border-bottom: 1 solid #e0e0e0;

            .user_img {
              position: absolute;
              left: 0;
              top: 24px;
              width: 80px;
              height: 80px;
              border: 1px solid black;
              border-radius: 80px;
              border-style: none;
            }

            .user_review {
              position: relative;
              width: 100%;
              height: 110px;

              .user_text {
                height: auto;
                margin: 0;
                padding: 0;

                .user_id {
                  width: auto;
                  height: auto;
                  margin: 3px 0 0 0;
                  padding: 0;
                  font-size: 1.8rem;
                  font-weight: 400;
                }

                .user_comment {
                  width: auto;
                  height: auto;
                  margin: 11px 0 0 0;
                  padding: 0;
                  font-size: 1.6rem;
                  color: #656565;
                }

                span {
                  display: block;
                  height: 20px;
                  margin: 13px 0 0 0;
                  padding: 0;
                  font-size: 1.2rem;
                  color: #b2b2b2;
                }
              }

              .like_box {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                right: 0;
                top: 0;
                width: 100px;
                li {
                  width: 18px;
                  height: 16px;
                  margin: 0 0 0 5px;
                  padding: 0;

                  img {
                    width: 18px;
                    height: 16px;
                    color: #6d3afb;
                  }
                }
              }
            }
          }
        }

        .paging {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 42px;
          margin: 43px 0 0 0;

          .btn_previous {
            width: 42px;
            height: 42px;
            margin: 0 8px 0 0;
            padding: 0;
            border: 1px solid #ebebeb;
            background-color: white;

            button {
              width: 100%;
              height: 100%;
            }
          }
          .btn_next {
            width: 42px;
            height: 42px;
            margin: 0 0 0 8px;
            padding: 0;
            border: 1px solid #ebebeb;
            background-color: white;

            button {
              width: 100%;
              height: 100%;
            }
          }
          a {
            height: 0;
            padding: 10px 7px;
            font-size: 1.5rem;
            color: #656565;
          }
        }
      }
    }
  }
  .reservation_wraper {
    width: 338px;
    margin: 175px 15px 0 0; /* 사이 39 px */

    .reservation_head {
      position: relative;
      width: 100%;
      height: 48px;
      border-bottom: 3px solid #6d3afb;

      p {
        display: inline-block;
        width: 100px;
        height: 38px;
        padding: 12px 0 0 0;
        font-size: 1.6rem;
        font-weight: bold;
      }

      .icon_space {
        position: absolute;
        top: 2px;
        right: 45px;
        width: auto;
        height: auto;
        padding: 8px 10px 10px;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        padding: 8px 10px 10px;

        .icon_upload {
          width: 18.5px;
          height: 18.5px;
        }

        .icon_heart {
          width: 21px;
          height: 21px;
        }
      }
    }

    .reservation_body {
      width: 100%;

      .reservation_text {
        width: 100%;
        height: 86px;
        padding: 19px 20px 17px;

        p {
          text-align: center;
          line-height: 25px;
          font-size: 1.6rem;
        }
      }

      .reservation_list {
        li {
          width: 100%;
          height: 88px;
          padding: 0 20px 0 20px;

          .flex_box {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            padding: 22px 0 22px 0;
            border-top: 1px solid #ccc;

            img {
              position: absolute;
              width: 22px;
              height: 22px;
            }

            .list_cost {
            }
            .list_subject {
            }
          }
        }
      }
      .reservation_detail {
        width: 100%;
        height: auto;
        padding: 15px 20px 30px 20px;
        border: 1px solid #6d3afb;

        img {
          width: 100%;
          height: 180px;
        }

        p {
          width: 100%;
          padding: 20px 0 20px 0;
          font-size: 1.4rem;
        }

        ul {
          width: 100%;
          border-bottom: 1px solid #ebebeb;

          li {
            height: 41px;
            padding: 12px 0 11px 0;
            border-top: 1px solid #ebebeb;
            font-size: 1.4rem;

            .room_style {
              margin: 0 18px 0 0;
              color: #656565;
            }
          }
        }

        .reservation_total {
          width: 100%;
          height: 168px;
          padding: 32px 0 0 0;
          border-top: 1px solid #ebebeb;

          .total_text {
            width: 100%;
            height: 58px;
            padding: 2px 0 20px 0;
            border-bottom: 3px solid #6d3afb;

            h3 {
              font-size: 1.6rem;
            }

            span {
              font-size: 1.5rem;
            }
          }

          .total_sum {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;
            margin: 30px 0 0 0;
            border: 1px solid #e0e0e0;

            a {
              width: 48px;
            }

            span {
              display: inline-block;
              width: 100px;
              padding: 0 10px 0 10px;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 400px;
            }
          }
        }
      }

      .reservation_button {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        background-color: #704ce5;

        img {
          position: absolute;
          top: 19px;
          left: 35px;
          width: 22px;
          height: 22px;
          cursor: pointer;
          color: white;
          opacity: 0.8;
        }
        .reservation_call {
          width: 40%;
          height: 100%;
          padding: 0 0 0 22px;
          border-right: 1px solid rgba(43, 44, 48, 0.575);
          text-align: center;
          color: white;
          opacity: 0.8;
          font-size: 1.8rem;
        }

        .reservation_now {
          width: 60%;
          height: 100%;
          text-align: center;
          color: #ffd014;
          font-size: 1.8rem;
        }
      }
    }
  }
}
